/* Aside/Drawer */
@media (max-width: 45em) {
  html:has(.overlay.expanded) {
    overflow: hidden;
  }
}

.aside {
  background: var(--color-surface);
  box-shadow: var(--shadow-xl);
  height: 100vh;
  width: min(var(--aside-width), 100vw);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform var(--duration-normal) var(--easing);
}

.asideHeader {
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 var(--space-8);
}

.asideHeader h3 {
  margin: 0;
}

.asideHeader .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

.asideHeader .close:hover {
  opacity: 1;
}

.asideHeader h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

.asideMain {
  margin: var(--space-6);
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--duration-slow) var(--easing);
  visibility: hidden;
  z-index: 10;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.overlay.expanded .aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

.closeOutside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}
