.menuMobile {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.menuDesktop {
  display: none;
  gap: var(--space-6);
  @media (min-width: 45em) {
    display: flex;
    gap: var(--space-6);
    margin-left: 3rem;
  }
}

