.menuMobileToggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

