.cartMain {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.withDiscount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

