.cartSummaryPage {
  position: relative;
}

.cartSummaryAside {
  background: var(--color-background);
  border-top: 1px solid var(--color-border);
  bottom: 0;
  padding-top: var(--space-5);
  position: absolute;
  width: calc(var(--aside-width) - 2 * var(--space-8));
}

.cartDiscount {
  align-items: center;
  display: flex;
  margin-top: var(--space-3);
}

.cartSubtotal {
  align-items: center;
  display: flex;
}

